*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
iOTCamera_New_Tenvis/build/generated/mockable-android-19.v3.jar
iOTCamera_New_Tenvis/build/generated/mockable-android-19.v3.jar
iOTCamera_New_Tenvis/build/generated/mockable-android-19.v3.jar
push/build/outputs/logs/manifest-merger-debug-report.txt
iOTCamera_New_Tenvis/build/generated/mockable-android-19.v3.jar
*.class
*.class
*.class
*.class
iOTCamera_New_Tenvis/build/generated/mockable-android-19.v3.jar
commonlib/src/main/jniLibs/armeabi/liblive-jni.so
iOTCamera_New_Tenvis/build/generated/source/buildConfig/release/com/tutk/IOTC/BuildConfig.java
*.properties
*.txt
*.class
*.jar
*.so
*.txt
iOTCamera_New_Tenvis/build/generated/source/r/release/com/tutk/IOTC/R.java
iOTCamera_New_Tenvis/build/generated/source/buildConfig/release/com/tutk/IOTC/BuildConfig.java
*.xml
iOTCamera_New_Tenvis/build/intermediates/incremental/release-mergeJniLibs/merge-state
*.xml
