<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tws.tenvisty">

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--<uses-permission android:name="android.permission.FLASHLIGHT" />-->
    <!--sharesdk所需权限-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>-->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"></uses-permission>

    <!-- 必须的权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 推荐的权限 -->
    <!-- 添加如下权限，以便使用更多的第三方SDK(如：高德定位SDK)和更精准的统计数据 -->
    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />-->
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <!--<uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>-->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->

    <!--android:roundIcon="@mipmap/ic_launcher_round"-->
    <application xmlns:tools="http://schemas.android.com/tools"
        android:name="com.tws.commonlib.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tws.commonlib.start.MainActivity"
            android:clearTaskOnLaunch="true"
            android:theme="@style/Theme.AppLauncher"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tws.commonlib.start.IntroActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.google.zxing.activity.CaptureActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.tws.commonlib.activity.SearchCameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.AddCameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.AddDeviceWirelessActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.AddDeviceWirelessNoteActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.AddDeviceWirelessSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.SaveCameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.ModifyCameraPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.EditDeviceActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.LiveViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.EventListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.PlaybackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.CameraFolderActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.PhotoShowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.DeviceSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.ModifyCameraNameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.ModifyCameraPasswordActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.WiFiListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.WiFiSetActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.EventSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.SensitivitySettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.MailSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.RecordSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.DeviceInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.TimezoneSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.TimeSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.OtherSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.setting.SdCardSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.tws.commonlib.activity.setting.SystemSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.tws.commonlib.activity.VersionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.tws.commonlib.activity.WebBrowserActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.LiveView_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.WiFiSet_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.EventSetting_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.SensitivitySetting_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.DeviceSetting_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.TimingRecord_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.OtherSetting_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.AudioSetting_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.SdCardSetting_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.TimeSetting_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tws.commonlib.activity.hichip.TimezoneSetting_HichipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"></activity>




        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!--集成line客户端登录授权，需要添如下格式的过滤器-->
            <intent-filter>
                <data android:scheme="line.1477692153" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <service
            android:name="com.tenvis.gcm.RegistrationIntentService"
            android:exported="false"></service>
        <!-- YOUR_PACKAGE_PATH.CustomPushReceiver需要改为自己的Receiver： -->
        <receiver android:name="com.tws.commonlib.push.PushMessageReceiver"
            android:exported="true" >
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                o            </intent-filter>
        </receiver>
        <!--解决Android 7.0 本地播放视频兼容问题  -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.tws.tenvisty.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:resource="@xml/file_paths"
                android:name="android.support.FILE_PROVIDER_PATHS"   />
        </provider>
        <!-- 【必须】 请将YOUR_ACCESS_ID修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_ID"
            tools:replace="android:value"
            android:value="2100263755" />
        <!-- 【必须】 请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
        <meta-data
            android:name="XG_V2_ACCESS_KEY"
            tools:replace="android:value"
            android:value="A8P437N8UEQB" />
        <!-- 填写您从Mob开发者后台中得到的Appkey和AppSecret -->
        <meta-data
            android:name="Mob-AppKey"
            android:value="213de2ff8d992" />
        <meta-data
            android:name="Mob-AppSecret"
            android:value="87241af202feb166b9a9008a8434e094" />
    </application>

</manifest>